<carousel>
  <slide *ngFor="let slides of carouselData">
    <div class="text-center py-5 bg-dark text-white">
      <h2>{{slides}}</h2>
    </div>
  </slide>
</carousel>

<div class="carouselInput">
  <label>
    Please enter text you would like to add to your carousel
  </label>
  <br/>
  <input type="text" [(ngModel)]="carouselText">
  <br/>
  <button mat-button (click)="addSlideToCarousel()" color="primary">Add Slide</button>
</div>