.carouselInput{
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.carouselInput label{
    color: #512DA8;
    font-size: 18px;
}

.bg-dark{
    background-color: #5E35B1 !important;
}