<div class="page-header">
  <label>VIP Member</label>
</div>


<div class="container" fxLayout fxLayout.xs="row" fxLayout.sm="row" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="5"
  fxLayoutGap.sm="5">
  <div fxFlex></div>
  <div fxFlex>
    <img mat-card-image src="../assets/images/member/vip-member.png" alt="Member">
  </div>
  <div fxFlex></div>
</div>

<div class="vip-member-welcome">
  <label>Welcome</label>
  <br>
  <label>For being a VIP Member you receive
    <span id="member-points">{{points}}</span> points</label>
</div>