.vip-member-welcome{
    text-align: center;
    margin-top: 50px;
    font-size: 35px;
}

#member-points{
    color: #512DA8;
    font-size: 40px;
    font-weight: bold;
}

.container{
    background-image: url("https://media.giphy.com/media/d3MKBzBTtCUIDwwU/giphy.gif")
}