@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,body{
    height: 100%;
}

body{
    margin:0;
}

.page-header{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}

.page-header label{
    text-decoration: underline;
}

.load-indicator{
    margin-top: 50px;
    text-align: -webkit-center;
  }

.submit-btn{
    text-align: center
  }

// Login & Register Form Styles

.user-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.user-full-width {
    width: 100%;
  }
  