<header>
      <img mat-card-image src="../assets/images/home/header.png" alt="Banner">
</header>

<app-carousel></app-carousel>

<div class="container" fxLayout fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="5"
      fxLayoutGap.sm="5">
      <div fxFlex>
            <mat-card class="card-layout">
                  <mat-card-header>
                        <mat-card-title>
                              Roulette
                        </mat-card-title>
                  </mat-card-header>
                  <img id="card-image" mat-card-image src="../assets/images/home/card-one-image.jpg" alt="Roulette">
            </mat-card>
      </div>
      <div fxFlex>
            <mat-card class="card-layout">
                  <mat-card-header>
                        <mat-card-title>Black Jack</mat-card-title>
                  </mat-card-header>
                  <img id="card-image" mat-card-image src="../assets/images/home/card-two-image.jpg" alt="Black Jack">
            </mat-card>
      </div>
      <div fxFlex>
            <mat-card class="card-layout">
                  <mat-card-header>
                        <mat-card-title>Poker</mat-card-title>
                  </mat-card-header>
                  <img id="card-image" mat-card-image src="../assets/images/home/card-three-image.jpg" alt="Poker">
            </mat-card>
      </div>

      <div fxFlex>
            <mat-card class="card-layout">
                  <mat-card-header>
                        <mat-card-title>Slots</mat-card-title>
                  </mat-card-header>
                  <img id="card-image" mat-card-image src="../assets/images/home/card-four-image.jpg" alt="Slots">
            </mat-card>
      </div>
</div>
