<div class="page-header">
  <label>VIP Register</label>
</div>

<div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div fxFlex="30%"></div>
  <div fxFlex>
    <form class="user-form" [formGroup]="userRegistrationForm" (ngSubmit)="submitRegistrationForm()">

      <mat-form-field class="user-full-width">
        <input matInput placeholder="Username" type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field class="user-full-width">
        <input matInput placeholder="Email Address" type="email" formControlName="emailAddress">
      </mat-form-field>

      <mat-form-field class="user-full-width">
        <input matInput placeholder="Password" type="password" formControlName="password">
      </mat-form-field>

      <div class="submit-btn">
        <button type="submit" mat-button color="primary" [disabled]="!userRegistrationForm.valid">Register</button>
      </div>
    </form>

    <div *ngIf="showLoader === true" class="load-indicator">
      <mat-spinner></mat-spinner>
    </div>

  </div>
  <div fxFlex="30%"></div>
</div>